.container {
    max-width: 1366px;
}

#nprogress .bar {
    height: 4px !important;
}

.ql-editor {
    min-height: 300px;
}

.featured-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.title_color {
    color: #787676;
}
.search-box {
    max-width: 900px;
}
.search-box .row>*{
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
}

.search-box .row .input {
    margin-left: -1px;
}

.search-box .row .button button {
    width: 100%;
    background-color: #fd3752;
    border-color: #ea1331;
}
.search-box .row .button button i {
    margin-right: 10px;
}
.search-box .row .button button:hover, .search-box .row .button button:focus {
    background-color: #ea1331;
}

/* Top Navigation css */
.navbar {
    box-shadow: 2px 2px 2px 2px #ddd;
}
.navbar-collapse {
    flex-grow: initial;
}
.navbar-expand-lg .navbar-nav span {
    line-height: 2.5;
}

/* Carousel CSS */
.carousel-container {
    height: 280px;
}
.slick-prev:before {
    color: black !important;
}
.slick-next:before {
    color: black !important;
}
.slick-slide{
    width:233px !important;
}


/* common css */
.bdr-r-0 {
    border-radius: 0;
}
.form-select:focus, .form-control:focus {
    box-shadow: 0 0 0
}
.h-44 {
    height: 44px;
}


/* Media query */
@media (min-width: 1200px) {
    .container {
        max-width: 1350px !important;
    }
}
